.page-main .section-content {
  overflow-x: hidden;
  padding: 150px auto; }

.page-main .icon {
  width: 64px; }

.page-main .section-nav .navbar {
  background-color: #505050; }

.page-main .section-nav .nav-content {
  color: white;
  font-weight: 500;
  margin: 16px auto; }

.page-main .section-hero .hero-image .image-container {
  position: relative; }

.page-main .section-hero .hero-welcome {
  position: absolute;
  z-index: 1;
  color: white;
  top: 300px; }

.page-main .section-about {
  height: 1000px; }

.page-main .section-experience {
  height: 1000px;
  background-color: yellow; }

.page-main .section-project {
  height: 1000px;
  background-color: green; }

.page-main .section-contact .container {
  margin: 0 auto 80px; }

.page-main .section-about .title,
.page-main .section-experience .title,
.page-main .section-project .title,
.page-main .section-contact .title {
  padding-top: 80px; }
