.page-main body {
  font-family: 'Raleway', sans-serif; }

.page-main .section-content {
  overflow-x: hidden;
  padding: 150px auto; }

.page-main .section-nav .navbar {
  background-color: #505050; }

.page-main .section-nav .nav-content {
  color: white;
  font-weight: 300;
  margin: 16px auto; }

.page-main .section-nav .nav-content:hover {
  font-weight: 500;
  text-decoration: none;
  color: #4682B4; }

.page-main .section-hero .hero-image {
  margin: 0 auto; }

.page-main .section-hero .row {
  position: relative; }
  @media (min-width: 400px) {
    .page-main .section-hero .row .hero-intro {
      position: relative;
      color: #696969;
      padding-bottom: 20px;
      border-bottom: 1px solid #bdbdbd; } }
  @media (min-width: 700px) {
    .page-main .section-hero .row .hero-intro {
      bottom: 90px;
      position: absolute;
      color: white; } }
  @media (min-width: 1000px) {
    .page-main .section-hero .row .hero-intro {
      bottom: 150px; } }

.page-main .section-about .intro-container {
  margin: 50px auto 90px; }
  .page-main .section-about .intro-container .intro-copy {
    margin-top: 100px; }

.page-main .section-experience {
  height: 1000px; }

.page-main .section-project {
  height: 1000px;
  background-color: green; }

.page-main .section-contact .container {
  margin: 0 auto 80px; }

.page-main .section-about .title,
.page-main .section-experience .title,
.page-main .section-project .title,
.page-main .section-contact .title {
  padding-top: 80px;
  border-bottom: 1px solid #909090;
  width: 400px;
  margin: 0 auto; }

.page-main .section-about .icon,
.page-main .section-experience .icon,
.page-main .section-project .icon,
.page-main .section-contact .icon {
  width: 64px;
  margin: 20px; }
