html {
}

.section-content {
  overflow-x: hidden;
  padding: 150px auto;
}

.section-hero {
}

.hero-image {
}

.navbar {
  background-color: #505050;
}

.nav-content {
  color: white;
  font-weight: 500;
  margin: 16px auto;
}

.image-container {
  position: relative;
}

.hero-welcome {
  position: absolute;
  z-index: 1;
  color: white;
  top: 300px;
}

.title {
  padding-top: 80px;
}

.icon {
  width: 64px;
}

.section-about {
  height: 1000px;
  } 

.section-experience {
  height: 1000px;
  background-color: yellow;
  } 

.section-project {
  height: 1000px;
  background-color: green;
}

.section-contact {
   margin: 0 auto 80px;
}