.page-main {

    font-family: 'Roboto', sans-serif;

    .section-content {
        overflow-x: hidden;
        font-size: 18px;
    }

    .theme-alt {
        background-color: #f1f1f1;
    }

    .section-nav {
        .navbar {
            background-color: #505050;
        }
        .nav-content {
            color: white;
            font-weight: 300;
            margin: 16px auto;
        }
        .nav-content:hover {
            font-weight: 500;
            text-decoration: none;
            color: #4682B4;
        }
    }

    .section-hero {
        // background-color: #262626;
        .hero-image {
            margin: 0 auto;
            height: auto;
        }
        .row {
            position: relative;
            .hero-intro {
                @media (min-width: 400px) {
                    position: relative;
                    color: #696969;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #bdbdbd;
                }
                @media (min-width: 700px) {
                    bottom: 280px;
                    right: 82px;
                    position: absolute;
                    color: #3f3f3f;
                }
                @media (min-width: 1000px) {
                    bottom: 460px;
                    right: 200px;
                }
            }
        }
    }

    .section-about {
        .intro-container {
            margin-top: 120px;
            margin-bottom: 120px;
            .intro-copy {
                // margin-top: 36px;
            }
        }
    }

    .section-experience {
        .skills-container {
            margin-top: 120px;
            @media (max-width: 800px) {
                text-align: center;
            }
            .skill-level {
                color: #4682B4;
                font-weight: 400;
                font-size: 30px;
            }
            .skill-list {
                margin-top: 30px;
            }
        }
        .resume-container {
            margin: 120px auto;
            .company-container {
                margin-top: 20px;
                .company-info {
                    .company {
                        color: #4682B4;
                    }
                    margin-top: 30px;
                    .job-description {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .section-project {
        .project-container {
            margin-top: 120px;
            margin-bottom: 120px;
            .sample-project {
                color: white;
                height: 250px;
                margin-top: 30px;
                border: 1px solid black;
                .project-name {
                    line-height: 250px;
                    margin: 0 auto;
                }
            }
            .sample-project:hover {
                background-color: #4682B4;
            }
            .sample-project:hover a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .section-contact {
        .contact-container {
            margin-top: 70px;
            padding-bottom: 120px;
        }
    }

    // shared
    .section-about,
    .section-experience,
    .section-project,
    .section-contact {
        .title {
            padding-top: 80px;
            padding-bottom: 20px;
            border-bottom: 1px solid #909090;
            width: 400px;
            margin: 0 auto;
        }
        .icon {
            width: 64px;
            margin: 20px;
        }
        .icon:hover {
            text-decoration: none;
            width: 80px;

        }
    }
}