.page-main {

    .section-content {
        overflow-x: hidden;
        padding: 150px auto;
    }

    .icon {
        width: 64px;
    }

    .section-nav {
        .navbar {
            background-color: #505050;
        }
        .nav-content {
            color: white;
            font-weight: 500;
            margin: 16px auto;
        }
    }

    .section-hero {
        .hero-image {
            .image-container {
            position: relative;
            }
        }
        .hero-welcome {
            position: absolute;
            z-index: 1;
            color: white;
            top: 300px;
        }
    }

    .section-about {
        height: 1000px;
        .title {
            padding-top: 80px;
        }
        .resume {
            background-color: black;
        }
    }

    .section-experience {
        height: 1000px;
        background-color: yellow;
    }

    .section-project {
        height: 1000px;
        background-color: green;
    }

    .section-contact {
        .container {
            background-color: black;
            margin: 0 auto 80px;
        }
    }
}